<h1>Neue Interaction</h1>

<blockquote>Interactions sind soetwas wie Gedankenprotokolle. Sie speichern können genutzt werden, um zu speichern wer mit wem wann was gemacht hat. Zum Beispiel könne sie für Schultouren verwendet werden.</blockquote>

<%= render 'form' %>

<p class="metanav">
	<%= link_to 'Zurück', interactions_path %>
</p>
