<h1>Settings</h1>

<ul class="settings">
	<li class="people"><a href="settings/peoplefields">Personenfelder</a></li>
	<li class="lists"><a href="settings/import">Excel-Import</a></li>
	<li class="permissions"><a href="">User-Rechte</a></li>
</ul><!-- settings ends here -->