<form class="search">
	<fieldset>
		<legend>Suchen</legend>
		
		<input class="search" type="text" value="Suchbegriff eingeben" />
		<button>Suchen</button>
		<br />
		<ul>
			<li><input type="checkbox" /> <label>Aktivist_innen</label></li>
			<li><input type="checkbox" /> <label>Schulsprecher_innen</label></li>
			<li>
				<select>
					<option>Bundesland</option>
					<option>Wien</option>
					<option>Steiermark</option>
					<option>Tirol</option>
					<option>Vorarlberg</option>
				</select>
			</li>
			<li><input type="checkbox" /> <label>Aktis</label></li>
		</ul>
	</fieldset>
</form><!-- form.search ends here -->

<hr />

<ul class="list">
	<% 10.times do |n| %>
	<li>
		<img src="/img.gif" />
		<h3>Franz Wilding</h3>
		<p>
			<span class="phone">0676 / 947 44 88</span>
			<a href="" class="email">mail@franz-wilding.at</a>
		</p>
		<ul class="meta">
			<li class="facebook"><a href="" target="_blank" title="Zum Facebook-Account dieses Users (in einem neuen Tab)">Facebook</a></li>
			<li class="twitter"><a href="" target="_blank" title="Zum Twitter-Account dieses Users (in einem neuen Tab)">Twitter</a></li>
			<li class="website"><a href="" target="_blank" title="Zur Website dieses Users (in einem neuen Tab)">Website</a></li>
		</ul>
		<a class="edit" title="Diesen Eintrag bearbeiten">Bearbeiten</a>
	</li>
	<% end %>
</ul>

<div class="export">
	<a href="#" class="tooltip">Diese Suche verwenden</a>
	<div class="h">
		<ul class="tooltip_menu">
			<li><a href="">Diese Auswahl als Liste speichern</a></li>
			<li><a href="">Diese Auswahl als Excel-Datei herunterladen</a></li>
			<li><a href="">Diese Auswahl als CSV-Datei herunterladen</a></li>
		</ul>
	</div>
</div>